@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
.cf {
    zoom: 1;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
a, ul, li, p, h1, h2, h3, h4, img, body, div {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
}
li{
	list-style: none;
}
div{
	display:block;
}
#mainContainer{
	width:980px;
	padding:0 0 0 0;
	margin:0 auto;
}
.header{
	width:100%;
	height:239px;
	padding:0 0 0px 0;
}	
.logoContainer{
	width:447px;
	height:50px;
	margin:0px auto 0 auto;
	padding:69px 0 0 0;
}	
#headerLogo{
	width:100%;
	height:auto;
}	
.mainNav{
	padding:40px 0 0 0;
	width:100%;
}
.mainNav ul li a, h1, h2{
	font-family: 'Lato', sans-serif;
	/*font-weight:lighter;*/
	/*font-family: "Open Sans",sans-serif;*/
	font-style: normal;
	/*font-weight: bold;*/
	font-size: 11px;
	letter-spacing:1px;
	text-transform: uppercase;
	text-align:center;
	display:block;
}
.inactiveNavBtn{
	color:#FBAF3F;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
.inactiveNavBtn:hover{
	color:#FFF;
}
.activeNavBtn{
	color:#FFF;
}
.ulLevel1{
	width:100%;
	margin:0 auto;
}
.navLevel1{
    float: left;
	width:12.3%;
	position:relative;
}
.navLevel2{
	margin:10px 0 0 0;
}
.borderNav{
	border-bottom-width:thick;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#FBAF3F;
	/*padding: 0 5.5%;*/
}
/*style the main menu*/
.myMenu li a:link, .myMenu li a:visited {
	display:block;
	padding: 0.5em 0;
	margin:0;
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	left:-1px;
	width:100%;
	/*
	left: 50%;
	-ms-transform: translate(-50%,0); IE 9 
   	-webkit-transform: translate(-50%,0);  Safari 
    transform: translate(-50%, 0);
	*/
	visibility:hidden;
	margin:0 0 0 0;
	padding:5px 0;
	z-index:9999;
	background-color:#000;
	border-left: thin solid #FBAF3F;
	border-right: thin solid #FBAF3F;
	/*box-shadow: 5px 5px 2px #000;*/
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	width:auto;
}

/*Carousel TEMPLATE*/
.jumbotron{
	width:100%;
	/*height:620px;*/
	/*position:relative;*/
	/*background-color:#0F9;*/
	overflow:hidden;
}
.jumboQuote{
	display:block;
	padding:15px;
	background-color:#FBAF3F;
	font-family: Arial, helvetica,sans-serif;
	position:absolute;
	text-transform: uppercase;
	font-weight:bold;
	color:#000;
	z-index:30;
}
.quoteA{
	top:17px;
	font-weight:normal;
}
.quoteB{
	position:absolute;
	top:80px;
	font-size:45px;
	font-weight:normal;
}
.quoteC{
	position:absolute;
	top:175px;
	font-weight:normal;
}
.quoteD{
	position:absolute;
	top:236px;
	font-weight:normal;
}
.flexslider{
	background:none;
	border:none;
	/*box-shadow:none;*/
	margin:0px;
}
/*End of carousel style*/
.footer{
	width:100%;
	height:125px;
}	
.socialLinkCont{
	float:right;
	margin:10px 0 0 0;
	width:69px;
	display:block;
}
.socialLink{
	float:left;
	width:17px;
	height:17px;
	display:block;
}
.socialBtnMargin{
	margin-right:9px;
}

/*inner page*/
/*NOSOTROS*/
.innerPageContent{
	background-color:#FFF;
	width:100%;
	/*height:779px;*/
	position:relative;
	padding:35px 0 0 0;
}
.nosotrosContainer{
	padding:50px;
}	
.pageTitleContainer{
	width:213px;
	height:49px;
	background-color:#000;
	vertical-align: middle;
	
}
.pageTitle{
	padding:10px 0 0 0;
	display:block;
	text-transform:uppercase;
	text-align:center;
	color:#FBAF3F;
	font-size:22px;
	font-weight:normal;
	letter-spacing: 7px;
}
.parrafoInnerPage{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	padding:0px 0px 50px 0px;
}
.justificar{
	text-align:justify;
}	
.nosotrosSectionContainer{
	padding:0 0 50px 0;
}	
.nosotrosSection{
	width:293px;
	float:left;
}
.nosotrosSectionInner{
	margin:0 auto;
	width:250px;
	padding:10px 0;
	border-top: medium solid #000;
	border-bottom: medium solid #000;
}
.nosotrosSectionInner span{
	font-family: "Open Sans",sans-serif;
	text-transform:uppercase;
	font-size:16px;
	display:block;
	padding:10px 0;
	font-weight:300;
}
.nosotrosSectionInner p{
	font-style:italic;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}
/*PROFESORES*/
.profesoresContainer{
	padding:50px;
}	
.profesoresSectionInner{
	margin:0 auto;
	width:250px;
	padding:30px 0 10px 0;
	border-bottom: medium solid #000;
}
.bordeProfTop{
	border-top: medium solid #000;
}	
.bordeProfBottom{
	border-bottom: medium solid #000;
}	
profesoresSectionContainer{
	padding:0 0 50px 0;
}	
.profesoresSection{
	width:293px;
	float:left;
}
.profesoresSectionInner span{
	font-family: "Open Sans",sans-serif;
	text-transform:uppercase;
	font-size:16px;
	display:block;
	padding:10px 0;
	font-weight:300;
}
.profesoresSectionInner p{
	font-style:italic;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}
/*CARTELERA*/
.carteleraContainer{
	padding:50px;
}
.carteleraContainer li{
	width:33.3%;
	padding:0 0 20px 0;
	float:left;
}
.carteleraObraInner{
	width:250px;
	margin:0 auto;
	padding:10px 0;
	border-bottom:medium solid #000;
	/*border-top:medium solid #000;*/
}
.obraDescripContainer{
	padding: 0 0 0 0;
}
.carteleraContainer h2{
	font-size:15px;
	padding:10px 0;
	text-align:left;
	text-transform:uppercase;
	font-weight:normal;
	color:#000;
}	
.carteleraContainer p{
	padding:0 0 10px 0;
	font-size:13px;
	font-family: "Open Sans",sans-serif;
	color:#333;
}
.obraHorario{
	font-style:italic;
	text-align:center;
	display:block;
	color:#FFF;
	font-family: "Open Sans",sans-serif;
	font-size:13px;
	padding:3px 0;
	background-color:#000;
	border-bottom:medium solid #FFF;
	border-top:medium solid #FFF;
}		
.piccoloBtn{

	width:100px;
	/*border-radius:5px;*/
	border:0;
	margin:0;
	cursor:pointer;
	color:#000;
	padding:5px;
	font-size:13px;
	background-color:#FBAF3F;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
}
/*HORARIOS*/

.obraContainer{
	padding:50px 20px;
}	
.carteleraSinopsis{
	display:block;
	width:318px;
	text-align:justify;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}
.horarioContainer{
	padding:50px;
}
.horaFirstBlock{
	width:255px;
}	
.horaSecondBlock{
	width:318px;
	text-align:justify;
	padding:0 50px;
}
.horaThirdBlock{
	width:130px;
	text-align:justify;
}
.horarioContainer h2{
	text-align:left;
	padding:0 0 20px 0;
	font-size:16px;
	text-transform:uppercase;
	font-weight:normal;
	color:#000;
}
.obraContainer img, .obraContainer p, .horaroContainer{
	float:left;
}
.carteleraSinopsis{
	padding:0 50px;
}
.horaSecondBlock p{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}	
.horaThirdBlock p{
	font-style:italic;
	text-align:center;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	display:block;
	border-bottom: medium solid #000;
}
.picBtnHoraContainer{
	padding:20px 0;
}	
.piccoloBtnHorario{
	bottom:0;
	right:0;
	width:100px;
	/*border-radius:5px;*/
	border:0;
	margin:auto;
	cursor:pointer;
	color:#000;
	padding:5px;
	font-size:13px;
	background-color:#FBAF3F;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
}
.normalPadding{
	padding:0 0 10px 0;
}
.extraTopPadding{	
	padding:10px 0 10px 0;
}
/*HORARIO COMPLETO*/
.horarioObraContainer{
	padding:0 0 20px 0;
}
/*GALERIA*/
.galeriaContainer{
	padding:50px;
}
.galeriaThumbsContainer{
	width:100%;
	margin:0 auto;
	padding:0 0 0 0;
}
.galeriaImg{
	float:left;
	margin:0;
	padding-bottom:0 0 36px 0;
}
.lateralPaddinggal{
	padding:0 0 36px 3%;
}
.borderbottomGal{
	border-bottom: medium solid #000;
	padding:0 0 20px 0;
}
/*HORARIO TALLER*/
.horaTallerContainer{
	padding:50px;
}	
.horaTallerContainer table{
	width:100%;
}
.horaTallerContainer table tr td{
	text-align:center;
}
/*CONTACTO*/
.contactoContainer{
	padding:50px 40px;
}
.borderbottom{
	border-bottom: medium solid #000;
	padding:0 0 20px 0;
}
.contactdata{
	width:290px;
	border-top: medium solid #000;
}
.contactdata p{
	padding:10px 0 10px 0;
	font-size:16px;
}
.googleMapContainer{
	width:283px;
	height:280px;
	padding:0 0 0 22px;
}	
.contactFormContainer{
	width:283px;
	padding:0 0 0 22px;
}		
.contactFormContainer p{
	display:block;
	text-transform:capitalize;
}
.contactFormContainer input, .contactFormContainer textarea{
	border: thin solid #000;
	width:98%;
}
.bordermap{
	border: thin solid #000;
	padding:1px;
}	
.goLeft{
	float:left;
}	
@media screen and (max-width: 980px) {
   #mainContainer{
	width:90%;
	padding:50px 0 0 0;
	margin:0 auto;
	}
	.logoContainer{
	width:447px;
	height:50px;
	margin:0px auto 0 auto;
	padding:20px 0 0 0;
	}
	.header{
	width:100%;
	height:190px;
	padding:0 0 0px 0;
	}
	.galeriaImg{
	padding:0 0 36px 36px;
	}
	.galeriaThumbsContainer{
	width:75%;
	margin:0 auto;
	}
}